<tr>
    <td>1</td>
    <td>Username</td>
    <td>Usersurname</td>
    <td>example@outlook.com</td>
    <td>Active</td>
    <td>
        <a href="/update_user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>